:root {
  --color-black:#000000;
  --color-primary:#34547a;
  --color-secondary:#727272;
  --color-gray-light: #eeeff1;
  --color-white:#ffffff;


  --font-size:16px;
  --font-family: 'Roboto', sans-serif;
  --letter-spacing:0.1;

  --line-height-sm:1.2;
  --line-height-lg:1.64;

  --container:1110px;
  --gap:20px;
  --gap-sm: calc(var(--gap) / 2);
  --gap-md: calc(var(--gap) * 1.5);
  --gap-lg: calc(var(--gap) * 2);
  
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    font-size: var(--font-size);
    font-family:var(--font-family);
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    line-height:1.25;
}

a {
    text-decoration: none;
}

.container {
  width: min (100% - 40px, var(--container));
  width: min (100% - var(--gap-lg), var(--container));
  margin-inline: auto;
} 

.header {
  padding-top:79px;
  padding-bottom: 141px;
  background-color: #eeeff1;
}

.navbar {
  margin-bottom:116px;
}
.navbar__list {
  display: flex;
  gap: var(--gap-lg)
}
.navbar__item {
}
.navbar__link {
  color: var(--color-black); 
  letter-spacing: var(--letter-spacing);
  padding: var(--gap-sm) 3px var(--gap-sm) 0;

}
.navbar__link--active {
  color:#007bff;
  font-weight:500px;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  align-items: flex-start;
}
.content__title {
  font-size: 3rem;
  background-color: var(--color-gray-light);
  line-height:var(--line-height-lg);
  margin-bottom: 35px;
}
.content__description {
  line-height:var(--line-height-lg);
  margin-bottom: 55px;
  color:var(--color-secondary);
}
.content__link {
  min-width:255px;
  min-height:65px;
  color:var(--color-white);
  background-color: var(--color-primary);
  padding: 0.5em;
  letter-spacing:var (--letter-spacing);
  display:flex;
}

.about {
  padding-top:112px;
  padding-bottom:100px;
  background-color: var(color--light);

}

.about__title {
  color: var(--color-black);
  font-size: 2rem;
  font-weight:500;
  text-align: center;
  margin-bottom:50px;

}
.about__description {
  text-align:center;
  color:var(--color-secondary);
  line-height:var(--line-height-lg);
}

.process {
  padding-top:112px;
  padding-bottom:100px;
  background-color: var(color--light);

}

.process__title {
  color: var(--color-black);
  font-size: 2rem;
  font-weight:500;
  text-align: center;
  margin-bottom:50px;

}
.process__description {
  text-align:center;
  color:var(--color-secondary);
  line-height:var(--line-height-lg);
}